{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Brechó Moda Renascida</title>
    <link rel="stylesheet" href="{% static 'produtos/style.css' %}">
</head>
<body>
    <!-- Banner com modelos e logo central -->
    <div class="banner-completo">
        <div class="banner-img">
            <img src="/media/modelo/mulher-jovem-e-atraente-morena-em-pe-com-as-maos-cruzadas-removebg-preview.png" alt="Modelo 1">
        </div>
        <div class="logo-central">
            <img src="/media/logo/Banner_ModaRenascida_fundo_branco.png" alt="Logo">
        </div>
        <div class="banner-img">
            <img src="/media/modelo/retrato-de-uma-jovem-sorridente-posando.png" alt="Modelo 2">
        </div>
    </div>

    <!-- Galeria de produtos -->
    <div class="container">
        {% for produto in produtos %}
            <div class="produto">
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                <h2>{{ produto.nome }}</h2>
                <p>{{ produto.descricao }}</p>
                <p><strong>R$ {{ produto.preco }}</strong></p>
                <a class="botao" href="https://wa.me/5581999002431?text=Olá! Vi o produto '{{ produto.nome }}' no site e tenho interesse. Ainda está disponível?" target="_blank">
                    Falar no WhatsApp
                </a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
