{% extends "produtos/base.html" %}

{% block title %}Sobre - Brechó Moda Renascida{% endblock %}

{% block content %}
<section class="pagina container">  
    <h1>Sobre Nós</h1>
    <p>O Brechó Moda Renascida nasceu com o propósito de dar uma nova vida às roupas e acessórios,
       promovendo a moda sustentável e acessível para todos. Acreditamos que cada peça tem uma história e pode continuar escrevendo novas memórias, ajudando o meio ambiente e o bolso de quem compra. Nosso objetivo é oferecer qualidade, estilo e preços justos, sempre valorizando a consciência ecológica e o consumo inteligente.</p>
</section>
{% endblock %}
